.mas-center-primary-btn{
    color: $brand-wine;
    border: 2px solid $brand-wine;
    padding: 5px 15px;
    background: transparent;
    transition: .2s ease-in-out all;
    &:hover{
        color: $white;
        background: $brand-wine;
    }
}
.mas-center-white-btn{
    color: white;
    border: 2px solid white;
    padding: 5px 15px;
    background: transparent;
    transition: .2s ease-in-out all;
    &:hover{
        color: $brand-red;
        background: white;
    }
}
.mas-center-red-btn{
    color: $brand-red !important;
    border: 2px solid $brand-red;
    padding: 5px 15px;
    background: transparent;
    transition: .2s ease-in-out all;
    &:hover{
        color: $white !important;
        background: $brand-red !important;
    }
}
.mas-center-btn-large{
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 5px 40px;
}