.slides {
    .item {
        img {
            width: 100%;
        }
    }
}

.carousel-caption-box {
    display: none;
    @include MQ(L){
        display: block;
        text-align: left;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 30px 40px 40px;
        position: absolute;
        transform: translateY(-50%);
        top: 25%;
        bottom: auto;
        right: 50%;
        left: 40px;
        max-width: 500px;
    }
}