$primary-font: 'Roboto', sans-serif;
$display-font: 'Satisfy', cursive;
$font-light: 300;
$font-regular: 400;
$font-bold: 500;

// Colores
$palette: (
    dark-grey: #2d2d2d,
    brand-grey: #777779,
    ligth-grey: #F8F8F8,
    brand-red: #E31E2F,
    brand-wine: #5A1919,
    page-yellow: #f0d471,
    page-green: #4cb29d
);
$dark-grey: map-get($palette,dark-grey);
$brand-red: map-get($palette,brand-red);
$brand-grey: map-get($palette,brand-grey);
$ligth-grey: map-get($palette,ligth-grey);
$brand-wine: map-get($palette,brand-wine);
$page-yellow: map-get($palette,page-yellow);
$page-green: map-get($palette,page-green);
$white:white;

//Gradientes
$gradient-yellow-green: linear-gradient(to right, $page-yellow, $page-green);
$gradient-red-yellow: linear-gradient(to right, $brand-red, $page-yellow);