* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
}

body {
  font-family: $primary-font;
  color: $dark-grey;
  font-weight: $font-light;
}

h1,
h2,
h3,
h4 {
  font-weight: $font-regular;
}

hr {
  margin: 10px 0 10px 0;
  padding: 0;
}
p{
  font-size: 1.2em;
}
a {
  transition: .2s ease-in-out all;
  font-weight: $font-regular !important;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
  &:focus {
    text-decoration: none;
  }
}
strong{
  font-weight: $font-bold;
}
label{
  font-weight: $font-regular;
}
.content-wrapper {
  min-height: calc(100vh - 360px);
}

.dn {
  display: none !important;
}

.db {
  display: block;
}

.dib {
  display: inline-block;
}

.fl {
  float: left !important;
}

.fr {
  float: right;
}

.fn {
  float: none;
}

.cb {
  clear: both;
}