mixin slides(image, title, caption)
    .item.text-center&attributes(attributes)
        img(src=image , alt=title ,).img-responsive
        .carousel-caption.carousel-caption-box.cadousel-captio-left
            h2.title__display= title
            p= caption

mixin article(header,title, caption, price)
    if header == ''
        article&attributes(attributes)
            h2.title__regular= title
            p= caption
            p= price
            block
    else
        article&attributes(attributes)
            header
                p.article-header--txt!= header
            h2.title__regular= title
            p= caption
            p= price
            block

mixin productBanner(bg,title,text)
    section(class=bg+" mas-center-product--container container-fluid")
        article.container
            .mas-center-article-wrapp&attributes(attributes)
                h2.mas-center-article--title=title
                p.mas-center-article--text=text
                block button
                    a(href=baseDir+title+".html" title=title class=title+" mas-center-primary-btn dib") Añadir al carrito

mixin productArticle(img, title, list, float)
    section(class="mas-center-product--"+img+" mas-center-product--container container-fluid")
        img(src="../img/"+img+".png" alt=title class="mas-center-product--img hidden-xs js-rv")&attributes(attributes)
        article.container
            .mas-center-product-article--wrapp.col-sm-6(class=float)
                h3.mas-center-product-article--title=title
                ul.mas-center-product-article--list
                    each linkText in list
                        li.mas-center-product-article--item
                            p=linkText
                block

mixin productFeature(img, title, text)
    li.mas-center-product-feature-item
        img(src="../img/"+img+".png", alt=title)
        h3.mas-center-product-feature--title.title__display=title
        p.mas-center-product-feature--txt=text