extends ../layout/_header

block append config
    -var pageTitle = 'Contacto'
    -var pageDescription = 'Bienvenidos a MásCenter'
    -var baseDir = ''
    -var linkSrc = 'stripcenter/'
block mainContent
    main.content-wrapper
        include ../layout/_pr-slide

        p Contacto

    include ../layout/_footer
    include ../layout/_scripts