extends ../layout/_header

block append config
    -var pageTitle = 'MásCenter'
    -var pageDescription = 'Bienvenidos a MásCenter'
    -var baseDir = ''
    -var linkSrc = 'stripcenter/'
block mainContent
    main.content-wrapper
        include ../layout/_pr-slide
        section.container
            .row
                .index-form
                    form(action="POST")
                        .form-group
                            label.col-sm-2(for="Dirección de correo") Dirección de correo
                            .col-sm-4
                                input.form-control(type="email")
                        .form-group
                            label.col-sm-2(for="Contraseña") Contraseña
                            .col-sm-4
                                input.form-control(type="password")
                        .form-group
                            input(type="submit" class="mas-center-red-btn mas-center-btn-large" value="Enviar")
        
    include ../layout/_footer
    include ../layout/_scripts