extends ../layout/_header

block append config
    -var pageTitle = 'Nuestra Empresa'
    -var pageDescription = 'Bienvenidos a MásCenter'
    -var baseDir = ''
    -var linkSrc = 'stripcenter/'
block mainContent
    main.content-wrapper
        include ../layout/_pr-slide

        p Mas Center cadena de centros comerciales vecinales, perteneciente al grupo IFB Inversiones, tiene como principal objetivo entregar el mejor servicio y la más grata experiencia de compra a nuestros clientes.
            |Buscamos las mejores ubicaciones y materializamos conceptos comerciales innovadores, eficientes y sustentables, que potencian las ventas de nuestros operadores y generan resultados excepcionales en el largo plazo.
            |Los más de 10 centros comerciales que forman parte de Mas Center, se encuentran ubicados en lugares estratégicos dentro de las diferentes ciudades a lo largo del país.
            |Un pilar fundamental donde se soporta nuestra estrategia, es la excelencia operacional, siendo líderes en la administración centros comerciales en Chile.
    
    include ../layout/_footer
    include ../layout/_scripts