extends ../layout/_header

block append config
    -var pageTitle = 'Strip Centers'
    -var pageDescription = 'Bienvenidos a MásCenter'
    -var baseDir = ''
    -var linkSrc = 'stripcenter/'
block mainContent
    main.content-wrapper
        include ../layout/_pr-slide

        p Más center es una cadena de Strip Centers con una visión de ciudad moderna y optimizada, siempre bien ubicados, con excelente accesibilidad y en armonía con el entorno.

    include ../layout/_footer
    include ../layout/_scripts