footer{
    color: white;
    padding: 50px 0;
    background: url("../img/bg-footer.jpg") no-repeat center center  $page-green;
    background-size: cover !important;
    background-position: top 0 bottom 0;
}