extends ../../layout/_header

block append config
    -var pageTitle = 'Zona Norte'
    -var pageDescription = 'Zona Norte'
    -var baseDir = '../'
    -var linkSrc = ''
block mainContent
    main.content-wrapper

    include ../../layout/_footer
    include ../../layout/_scripts