extends ../../../layout/_header

block append config
    -var pageTitle = 'Centro Andino'
    -var pageDescription = 'Centro Andino'
    -var baseDir = '../../'
block mainContent
    main.content-wrapper

    include ../../../layout/_footer
    include ../../../layout/_scripts