extends ../../../layout/_header

block append config
    -var pageTitle = 'Maipú'
    -var pageDescription = 'Maipú'
    -var baseDir = '../../'
block mainContent
    main.content-wrapper

    include ../../../layout/_footer
    include ../../../layout/_scripts