footer.site-footer
    .container
        .col-sm-4
            img(src=baseDir+"assets/img/logo-ifb-int.png", alt="ifb-inversiones")
        .col-sm-4
            h3 Dirección
            p Dirección: Av. El Bosque Norte 0123 <br>Oficina 603, Las Condes, Santiago, Chile
            h3 Teléfono
            p +56 2 2951 9269
        .col-sm-4
            h3 STRIP CENTERS
            each sublinkValue, sublinkTitle in subMenu
                li
                    if pageTitle === sublinkTitle
                        a.selected(href=sublinkValue, title=sublinkTitle)= sublinkTitle
                    else
                        a(href=sublinkValue, title=sublinkTitle)= sublinkTitle

.modal.fade#contactoModal(tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
    .modal-dialog(role="document")
        .modal-content
            .modal-header
                button.close(type="button" data-dismiss="modal" aria-label="Close")
                    span(aria-hidden="true") &times;
            form(action="")
                .form-group
                    label(for="Dirección de correo") Dirección de correo
                    input.form-control(type="text")
                .form-group
                    label(for="Contraseña") Contraseña
                    input.form-control(type="password")
                .form-group
                    input(type="checkbox" id="ncs")
                    label(for="ncs") <span></span> No cerrar sesión
                    a.pull-right.mas-center-login-form--link(href="") ¿Olvidaste tu contraseña?
                .form-group
                    input(type="submit" class="mas-center-red-btn mas-center-btn-large" value="Ingresar")
                    a.small.db.mas-center-login-form--link(href="") ¿Aún no tienes cuenta?