include ../utils/_mixins
block config
    -var pageTitle = ''
    -var pageDescription = ''
    -var baseDir = ''
    -var linkSrc = ''
doctype 
html(lang="es")
    head
        meta(charset="utf-8")
        title #{pageTitle}
        meta(name="description" content=""+pageDescription)
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(href=baseDir+"assets/img/favicon.png", rel="icon")
        link(
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
            integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
            crossorigin="anonymous"
            )
        link(href=baseDir+"assets/css/main.css", rel="stylesheet")

    body(class="mas--"+pageTitle.toLowerCase())
        .cd-loader
            h5 Cargando...
            .cd-loader__grid
                .cd-loader__item
        block header
            header.mas-center-navigation
                include ../layout/_nav

        block mainContent