//- Menu map
-var menu = { 'Home':baseDir+'index.html', 'Nuestra Empresa': baseDir+'nuestra-empresa.html', 'Strip Centers': baseDir+'stripcenters.html','Contacto':'' };
//- Submennu map
block submenu
    -var subMenu = {'Zona Norte':linkSrc+'zona-norte.html', 'Zona Centro':linkSrc+'zona-centro.html', 'Zona Sur':linkSrc+'zona-sur.html'}
//- Primary nav
nav.navbar.navbar-default
    header.navbar-header
        button.navbar-toggle.collapsed.hamburger.hamburger--collapse(type="button" data-toggle="collapse" data-target="#primary-nav")
            span.hamburger-box
                span.hamburger-inner
        a.navbar-brand(href=baseDir+"index.html")
            img(src=baseDir+"assets/img/logo_mascenter.png", alt="Mas Center")
    .collapse.navbar-collapse#primary-nav
        ul.nav.navbar-nav
            each linkValue, linkTitle in menu
                if linkTitle === 'Strip Centers'
                    li.js-dropdown
                        a.selected.dropdown-toggle(href=linkValue, title=linkTitle, data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false")= linkTitle
                            span.caret
                        ul.dropdown-menu
                            each sublinkValue, sublinkTitle in subMenu
                                li
                                    if pageTitle === sublinkTitle
                                        a.selected(href=sublinkValue, title=sublinkTitle)= sublinkTitle
                                    else
                                        a(href=sublinkValue, title=sublinkTitle)= sublinkTitle
                else
                    li
                        if pageTitle === linkTitle
                            a.selected(href=linkValue, title=linkTitle)= linkTitle
                        else if linkTitle === 'Contacto'
                            a.mas-center-red-btn(href=linkValue, title=linkTitle, data-toggle="modal", data-target="#contactoModal")= linkTitle
                        else
                            a(href=linkValue, title=linkTitle)= linkTitle