section.slides
    #primary-slides.carousel.slide(data-ride="carousel")
        //ol.carousel-indicators
            each i in [0,1,2,3]
                if i==0
                    li(class="active" data-target="#primary-slides" data-slide-to=""+i)
                else
                    li(data-target="#primary-slides" data-slide-to=""+i)
        .carousel-inner(role="listbox")
            +slides(
                'assets/img/1702571903_85.jpg', 'Somos',
                'Una cadena de Strip Centers'
                )(class="active")
            +slides(
                'assets/img/1702495403_2.jpg', 'Tenemos',
                'visión de ciudad moderna y optimizada'
                )
            +slides(
                'assets/img/1703322103_75.jpg', 'Siempre',
                'bien ubicados'
                ) 
            +slides(
                'assets/img/1704292603_27.jpg', 'Excelente',
                'accesibilidad y en armonía con el entorno'
                ) 