@charset 'UTF-8';

@import 'utils/variables';
@import 'utils/functions';
@import 'utils/media';
@import 'utils/mixins';
@import 'utils/placeholders';

@import 'base/reset';
@import 'base/typography';
@import 'base/global';

@import 'components/loader';
@import 'components/slides';
@import 'components/navbar';
@import 'components/buttons';

@import 'layout/footer'; 

.index-form{
    background: $brand-grey;
    padding: 40px 0 0 0;
    position: relative;
    top: -60px;
}